/* Global */

body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-8.75vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

h1, h2, header, footer, section, a {
    transition: 0.375s;
}


nav ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

nav ul li {
    list-style-type: none;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50vh 10vw 30vw;
}

header > * {
    animation: 1.125s ease 0s 1 slideInFromLeft;
}

header h1 span {
    font-weight: 100;
    opacity: 0.2;
    font-size: 87.5%;
}

header h1 {
    font-weight: 900;
    font-size: 6.15vw;
    margin: 0;
}

header h2 {
    font-weight: 100;
    font-size: 1.66vw;
    padding-bottom: 1.25%;
    margin: 0;
}

header nav {
    display: flex;
    padding: 25vw 0 0;
}

header nav ul {
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav a {
    color: white;
    font-size: 1.66vw;
    opacity: 0.8;
    text-decoration: none;
    border-left: 2.5px solid white;
    padding-top: 4.375vw;
    padding-bottom: 4.375vw;
    padding-right: 0.25vw;
    padding-left: 3.125vw;
    display: flex;
    flex-grow: 1;
}

header nav a:hover {
    opacity: 1;
    padding-left: 3.375vw;
    padding-right: 0vw;
}


/* Footer */

footer {
    padding: 20vh 10vw 2.5vw;
}

footer.dark-section small {
    color: #777;
}

footer a {
    text-decoration: none;
}

footer.dark-section a {
    color: white;
}

footer.light-section a {
    color: black;
}

footer.light-section small {
    color: rgb(0, 0, 0, 0.25);;
}

footer nav {
    padding-bottom: 2.5vw;
}

footer > * {
    opacity: 0.5;
}

footer:hover * {
    opacity: 1;
}

footer nav ul a {
    padding-right: 1.25vw;
}


/* Sections and Elements */

section {
    padding: 12.5vw 10vw;
    transition: 0.2s;
}

section .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section a {
    text-decoration: none;
    font-weight: 900;
}

section h2 {
    font-size: 3vw;
    margin-bottom: 5vw;
}


div.calendar {
    border: none;
    margin: 0;
}

div.calendar div {
    border: none;
}


.dark-section .contrib-number {
    color: rgb(255, 255, 255, 0.625);
}

section.medium-widget {
    margin: 0;
    padding: 0;
}

.medium-widget-article__row {
    flex-wrap: wrap;
}

.medium-widget-article__item {
    min-width: 200px;
}

.dark-section .medium-widget-article__title {
    color: rgb(255, 255, 255, 0.9);
}


.dark-section .medium-widget-article__description, .dark-section .medium-widget-article__date {
    color: rgb(255, 255, 255, 0.5);
}



/* Styling */


.light-section {
    background-color: white;
    color: black;
}

.dark-section {
    background-color: black;
    color: white;
}

.yellow {
    color: #FFF059;
}

.red {
    color: #FF8269;
}

.green {
    color: #47C368;
}

.purple {
    color: #B05BB1
}

.blue {
    color: #04B4E1
}

.blue-dark {
    color: #5F74C5
}

.background-yellow {
    background-color: #FFF059;
}

.background-red {
    background-color: #FF8269;
}

.background-green {
    background-color: #47C368;
}

.background-purple {
    background-color: #B05BB1
}

.background-blue {
    background-color: #04B4E1
}

.background-blue-dark {
    background-color: #5F74C5
}

.background-light-gray {
    background-color: rgb(224, 224, 224);
}

@media only screen and (max-width: 600px) {
    header {
        padding: 25vh 10vw 30vw;
    }

    header h1 {
        font-size: 8vw;
    }

    header h2 {
        font-size: 3.125vw;
        padding-bottom: 7.5vw;
        display:none;
    }

    header nav {
        padding: 20vw 0 0;
    }

    header nav a {
        font-size: 5vw;
        opacity: 1;
        transition: 0.2s;
        padding: 5vw 2.5vw;
        width: 25vw;
        margin-bottom: 2.5vw;
    }

    header nav a:hover {
        padding: 5vw 2.5vw;
    }

    section h2 {
        font-size: 6.25vw;
        margin-bottom: 5vw;
    }    

    div.calendar {
        width: 100%;
    }

    svg.js-calendar-graph-svg {
        left: 0px;
        height: auto;
        overflow: hidden;
    }

    div.calendar-graph {
        height: 75px;
        transform: scale(0.4);
        transform-origin: 0 0 0;
    }
    
    footer {
        padding: 10vh 10vw 37.5vw;
        transition: 1s;
    }

    footer nav ul a {
        padding-right: 2.5vw;
    }
}